@import '~antd/dist/antd.less';

html,
body,
#root {
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fullHeight {
  height: 100vh;
}
