@import '../../../node_modules/antd/lib/style/themes/default.less';

@pro-header-hover-bg: rgba(0, 0, 0, 0.025);

.popover {
  position: relative;
  width: 336px;
}

.noticeButton {
  display: inline-block;
  height: 100%;
  padding: 0 12px;
  cursor: pointer;
  transition: all 0.3s;
  > i {
    color: @text-color;
    vertical-align: middle;
  }
  &:hover {
    background: @pro-header-hover-bg;
  }
  &:global(.opened) {
    background: @pro-header-hover-bg;
  }
}

.icon {
  padding: 4px;
  vertical-align: middle;
}

.badge {
  font-size: 16px;
}
