@import '~antd/lib/style/themes/default';

@pro-header-hover-bg: rgba(0, 0, 0, 0.025);

.header {
  position: relative;
  background: @primary-color;
  box-shadow: 0 2px 4px rgba(0, 21, 41, 0.08);
  height: auto;

  .mobile {
    display: block;
    width: 100%;

    .trigger {
      color: white;
      padding: ~'calc((@{layout-header-height} - 20px) / 2)'24px;
      font-size: 20px;
      cursor: pointer;
      transition: all 0.3s, padding 0s;
      text-align: right;

      &:hover {
        background: @pro-header-hover-bg;
      }
    }

    .logo {
      display: inline-block;
      font-size: 20px;
      vertical-align: top;
      cursor: pointer;

      img {
        height: 32px !important;
        display: inline-block;
        vertical-align: middle;
      }
    }

    .lang {
      float: right;
      margin-right: 24px;
    }
  }
}
