@import '~antd/lib/style/themes/default';
@import '../global.less';

@bodyBg: #00265e;
@footerBg: #003078;

.main {
  padding: 0;
  margin: 0;
  background-color: @primary-color;

  a,
  p {
    color: white;

    span {
      font-weight: 400;
      color: rgba(255, 255, 255, 0.8);
    }
  }

  img {
    height: 30px;
    width: auto;
  }
}

.header {
  padding: 25px 0 0 0;
  margin: 0;

  a {
    display: inline-block;
  }
}

.content {
  padding-bottom: 25px;
}

.list {
  div {
    border-color: transparent !important;
  }
}

.listHeader {
  border: 0;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.listItem {
  padding: 5px 0 !important;
  border-color: transparent !important;

  &.contact {
    padding: 0 0 !important;
  }
}

.footer {
  padding: 15px 0;
  background-color: lighten(@primary-color, 5);

  p {
    margin: 0;
    color: white;
    line-height: 30px;
  }

  a {
    text-align: right;
  }
}

.ast {
  float: right;
}

.google {
  height: 30px;
  margin-top: 15px;
}
