@import '~antd/lib/style/themes/default';

@pro-header-hover-bg: rgba(0, 0, 0, 0.025);

.menu {
  &:global(.anticon) {
    margin-right: 8px;
  }

  &:global(.ant-dropdown-menu-item) {
    min-width: 160px;
  }
}

.name {
  //
}

.right {
  float: right;
  height: 100%;
  overflow: hidden;

  .action {
    display: inline-block;
    height: 100%;
    padding: 0 12px;
    cursor: pointer;
    transition: all 0.3s;

    > i {
      color: @text-color;
      vertical-align: middle;
    }

    &:hover {
      background: @pro-header-hover-bg;
    }

    &:global(.opened) {
      background: @pro-header-hover-bg;
    }
  }

  .search {
    padding: 0 12px;

    &:hover {
      background: transparent;
    }
  }

  .account {
    .avatar {
      margin: ~'calc((@{layout-header-height} - 24px) / 2)' 0;
      margin-right: 8px;
      color: @primary-color;
      vertical-align: top;
      background: rgba(255, 255, 255, 0.85);
    }
  }
}

@media only screen and (max-width: @screen-md) {
  .header {
    :global(.ant-divider-vertical) {
      vertical-align: unset;
    }

    .name {
      display: none;
    }

    .right {
      position: absolute;
      top: 0;
      right: 12px;
      background: #fff;

      .account {
        .avatar {
          margin-right: 0;
        }
      }
    }
  }
}
