@import '~antd/lib/style/themes/default';
@import '../global.less';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background-color: @background-color-base;

  .content {
    padding: 32px 0;
    flex: 1;

    .top {
      text-align: center;

      .header {
        height: 44px;
        margin-bottom: 25px;
        line-height: 44px;

        a {
          text-decoration: none;

          .logo {
            height: 44px;
            vertical-align: top;
            margin-right: 16px;
          }

          .title {
            position: relative;
            font-size: 28px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            color: @text-color;
            text-align: center;
          }
        }
      }
    }
  }
}
